body{
  background-color: white;

}

.nav li{
  float:left;
  list-style-type: none;
}

.nav a{
  display: inline;
  padding:10px;
}

.gambar{
  margin:auto;
}
.gambar img{
  padding: 10px 80px 10px 80px;
  margin-top:80px
}

.cari{
  margin:auto;
  padding:10px 80px 10px 400px;

}
#tombol{
  padding-left: 80px;
}
